*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
   
}

body{
    width: 100%;
    height: 100vh;
}
.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.principal-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 50%;
    gap: 2%;
    border: 1px solid rgb(220, 220, 220);
    padding: 4%;
    border-radius: 10px;
    margin: 5% auto;
}
.btn-enviar{
    height: 5vh;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 10%;
    width: 50%;
    align-self: center;
}
label, input{
    font-size: 16pt;
}
input[type="text"], input[type="date"]{
    height: 6vh;
}

.msg-retorno-sucesso{
    margin-top: 1%;
    color: black;
    width: 40%;
    background-color: green;
    border-radius: 5px;
    padding: 1%;
    align-self: center;
    opacity: 1;
    animation: ocultarApos3s 3s forwards;
}
.msg-retorno-erro{
    margin-top: 1%;
    color: black;
    width: 40%;
    background-color: rgb(238, 25, 1);
    border-radius: 5px;
    padding: 1%;
    align-self: center;
    opacity: 1;
    animation: ocultarApos3s 3s forwards;
}
.principal-link-lista{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2%;
    background-color: rgb(101, 162, 242);
    width: 10%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
}
/* Pagina de edição */
.titulo{
    text-align: center;
    margin-top: 2%;
    font-size: 25pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes ocultarApos3s {
  from { /* O estado inicial da animação */
    opacity: 1; /* O elemento está totalmente visível */
  }
  to { /* O estado final da animação */
    opacity: 0; /* O elemento está totalmente transparente */
  }
}