*{
    margin: 0;
}
.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.principal-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1% 1%;
    height: 10vh;
    border: 1px solid red;
}
.principal-tabela{
    margin-top: 2%;
    height: 70vh;
    border: 1px solid gray;
    width: 70%;
    align-self: center;
}
thead, th, tr, td{
     border: 1px solid gray;
     text-align: center;
}
th{
    background-color: gainsboro;
    font-size: 14pt;
}

.btn-voltar{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1%;
    background-color: rgb(101, 162, 242);
    width: 8%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    border-radius: 10px;
}
.btn-sair{
    height: 2vh;
    background-color: rgb(231, 50, 37);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    width: 8%;
    padding: 1%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.coluna-acoes{
    display: flex;
    flex-direction: row;
    gap: 1%;    
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.btn-editar, .btn-deletar{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1%;
    background-color: rgb(251, 143, 28);
    width: 40%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    border-radius: 5px;
}
.btn-deletar{
    background-color: rgb(251, 28, 28);
}
